@{
    ViewData["Title"] = "Categories";
}

<ul>
    <li>
        <a asp-controller="Categories" asp-action="details" asp-route-category="Food"> Food</a>
    </li>
    <li>
        <a asp-controller="Categories" asp-action="details" asp-route-category="Tech"> Tech</a>
    </li>
    <li>
        <a asp-controller="Categories" asp-action="details" asp-route-category="Sports"> Sports</a>
    </li>
</ul>